curseforge/overrides/config/thaumicjei_itemstack_aspects.json
curseforge/overrides/config/jei/worldSettings.cfg
curseforge/overrides/config/astralsorcery/amulet_enchantments.cfg
modpack-da-informacao*.zip
